{% extends "frontend/layout.html.twig" %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}

{% block content %}
    <div class="midsec magazine">
        <{{ page.headerType  }}>{{ page.name }}</{{ page.headerType }}>
        <div class="magcont">
            <div class="box dtl">
               {{ page.content|raw }}
            </div>
        </div>
    </div>
{% endblock %}
