{% extends "backend/layout.html.twig" %}

{% block content %}

    {{ include('backend/header.html.twig', { 'header': 'Magazine', 'icon': 'newspaper' }) }}

    <div class="page_content">

        {% if article.id > 0 %}

            <a href="{{ path('admin_magazine') }}" class="link" style="margin-right: 30px;">
                articles list </a>

            /

            {{ article.name }}

        {% endif %}


        <div class="ui segment article">

            <h2 class="ui header right">
                <i class="write icon"></i>
                <div class="content">
                    {% set title = article.id > 0 ? 'Edit article' : 'Add article' %}
                    {{ title }}
                </div>
            </h2>

            <div class="clear"></div>
            <form class="ui form" id="article_form" method="post" enctype="multipart/form-data">

                <div class="ui big ribbon label">{{ form_label(form.locale) }}</div>
                <div class="field">
                    {{ form_widget(form.locale) }}
                </div>

                <div class="ui big ribbon label">{{ form_label(form.name) }}</div>
                <div class="field">
                    {{ form_widget(form.name) }}
                </div>

                <div class="ui big ribbon label">{{ form_label(form.headerType) }}</div>
                <div class="field">
                    {{ form_widget(form.headerType) }}
                </div>

                <div class="ui big ribbon label">{{ form_label(form.brief) }}</div>
                <div class="field">
                    {{ form_widget(form.brief) }}
                </div>

                <div class="ui big ribbon label">{{ form_label(form.content) }}</div>
                <div class="field">
                    {{ form_widget(form.content) }}
                </div>

                <br><br>


                <h3 class="ui horizontal divider header">
                    <i class="picture pink icon"></i>
                    photo
                </h3>

                <br><br>


                <div class="field">

                    <div class="ui one column centered grid article_image">
                        {# <img alt="" src="{{asset(article.getImageName()) }}"> #}
                        <div class="article-image"
                             style="background-image: url({{ asset(article.getImageName()) }});"></div>
                    </div>

                    <br><br>

                    <div class="ui one column centered grid upload_photo"
                         onclick="$(this).siblings('input[type=file]').click();">
                        <button type="button" class="ui labeled icon pink button">
                            <i class="picture icon"></i>
                            Choose An Image
                        </button>
                    </div>

                    <div class="file_path"></div>

                    <input type="file" name="image" id="image" class="hidden">


                </div>

                <br><br>


                <div class="ui indicating progress">
                    <div class="bar" id="upload_photo_progress"></div>
                    <div class="label" id="upload_photo_label">upload: <span>0</span>%</div>
                </div>

                <div class="ui big ribbon label">{{ form_label(form.imageAlt) }}</div>
                <div class="field">
                    {{ form_widget(form.imageAlt) }}
                </div>

                <br>
                <br>


                <h3 class="ui horizontal divider header">
                    <i class="chart line pink icon"></i>
                    SEO
                </h3>


                <div class="ui big ribbon label">{{ form_label(form.uri) }}</div>
                <div class="field">
                    {{ form_widget(form.uri) }}
                </div>

                <div class="ui big ribbon label">{{ form_label(form.title) }}</div>
                <div class="field">
                    {{ form_widget(form.title) }}
                </div>

                <div class="ui big ribbon label">{{ form_label(form.description) }}</div>
                <div class="field">
                    {{ form_widget(form.description) }}
                </div>

                <br>

                <h3 class="ui horizontal divider header">
                    <i class="settings pink icon"></i>
                    preferences
                </h3>


                <div class="field">
                    <div class="ui big ribbon label">
                        {{ form_label(form.isOnHomepage) }}
                    </div>
                    <div class="ui compact segment">
                        <div class="ui slider fitted checkbox">
                            {{ form_widget(form.isOnHomepage) }}
                            <label></label>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="ui big ribbon label">
                        {{ form_label(form.isActive) }}
                    </div>
                    <div class="ui compact segment">
                        <div class="ui slider fitted checkbox">
                            {{ form_widget(form.isActive) }}
                            <label></label>
                        </div>
                    </div>
                </div>


                <div class="ui divider"></div>
                <br>
                <br>

                <div class="ui one column centered grid">
                    <button class="ui labeled icon pink approve big button right">
                        <i class="save icon"></i>
                        save
                    </button>
                </div>

                {{ form_rest(form) }}

            </form>

            <br>
            <br>

            <div class="clear"></div>


        </div>

    </div>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
    <script>

        tinymce.init({
            selector:'#article_content',
            directionality: "ltr",
            menubar : false,
            plugins: [
                "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "save table contextmenu directionality emoticons template paste textcolor"
            ],

            toolbar: "insertfile undo redo | bold italic underline | styleselect | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | preview media fullpage | forecolor backcolor emoticons | link image | code | ltr rtl",
            style_formats: [
                {title: "Headers", items: [
                        {title: "Header 3", format: "h3"},
                        {title: "Header 4", format: "h4"},
                        {title: "Header 5", format: "h5"},
                        {title: "Header 6", format: "h6"}
                    ]},

                {title: "Inline", items: [
                        {title: "Bold", icon: "bold", format: "bold"},
                        {title: "Italic", icon: "italic", format: "italic"},
                        {title: "Underline", icon: "underline", format: "underline"},
                        {title: "Strikethrough", icon: "strikethrough", format: "strikethrough"},
                        {title: "Superscript", icon: "superscript", format: "superscript"},
                        {title: "Subscript", icon: "subscript", format: "subscript"},
                    ]},

                {title: "Alignment", items: [
                        {title: "Left", icon: "alignleft", format: "alignleft"},
                        {title: "Center", icon: "aligncenter", format: "aligncenter"},
                        {title: "Right", icon: "alignright", format: "alignright"},
                        {title: "Justify", icon: "alignjustify", format: "alignjustify"}
                    ]}
            ],
            cleanup : false,
            verify_html : false,
        });


    </script>


{% endblock %}
