{% extends "frontend/layout.html.twig" %}

{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block content %}
    <div class="midsec magazine">
        <h2>
            {% trans %}
                Reset Password
            {% endtrans %}
        </h2>
        <div class="magcont">
            <div class="box dtl">

                <form action="{{ app.request.requesturi }}" method="post">
                    <div class="harsama-midsec">
                        <div class="freeze_cont">
                            <br><br>
                            {% trans %}
                                Please fill in the email with which you created this account. A new Password will be sent to
                                the phone number
                                you used to register.
                            {% endtrans %}
                            <br><br>
                            {% if form.email.vars.errors|length %}
                                <div class="errors">
                                    <div class="ui orange message">
                                        <div class="content">
                                            <div class="header">
                                                {{ form_errors(form.email) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                            {% endif %}

                            {% if success %}
                                <div class="ui olive message">
                                    <div class="content">
                                        <div class="header">
                                            {% trans %}
                                                A new password has been sent to your phone
                                            {% endtrans %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="label">{{ form_label(form.email) }}</div>
                            <div class="inputdiv">
                                {{ form_widget(form.email) }}
                            </div>
                            {{ form_rest(form) }}
                        </div>
                    </div>

                    <div class="clearfix">
                        <input type="button" value="{% trans %}send{% endtrans %}" class="free sendPass">
                        <input type="submit" id="save_data" class="hidden">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $('.free.sendPass').click(function () {
            if ($('#form_email').val().trim().length > 0) {
                $(this).attr('disabled', true);
            }
            $('#save_data').click();
        });
    </script>
{% endblock %}
