{% extends "frontend/layout.html.twig" %}

{% block content %}

    <div class="midsec">

        <h1>{% trans %} Edit Password {% endtrans %}</h1>

        <form action="{{ app.request.requesturi }}" method="post">
            <div class="harsama-midsec">
                <div class="freeze_cont">

                    <br><br>

                    {% if form.oldPassword.vars.errors|length or form.password.first.vars.errors|length %}
                        <div class="errors">
                            <div class="ui orange message">
                                <div class="content">
                                    <div class="header">
                                        {% trans %}
                                            Please complete the following fields
                                        {% endtrans %}
                                    </div>
                                    <p>
                                        {{ form_errors(form.oldPassword) }}
                                        {{ form_errors(form.password.first) }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    {% endif %}


                    {% if changed %}
                        <div class="ui green message">
                            <div class="content">
                                <div class="header">
                                    {% trans %}
                                        Details saved successfully
                                    {% endtrans %}
                                </div>
                            </div>
                        </div>
                        <br><br>
                    {% endif %}


                    <div class="field {% if form.oldPassword.vars.errors|length %}error{% endif %}">
                        <div class="label w_180"> {{ form_label(form.oldPassword) }}</div>
                        <div class="inputdiv">{{ form_widget(form.oldPassword) }}</div>
                    </div>

                    <div class="field {% if form.password.first.vars.errors|length %}error{% endif %}">
                        <div class="label w_180">{{ form_label(form.password.first) }}</div>
                        <div class="inputdiv">{{ form_widget(form.password.first) }}</div>
                    </div>

                    <div class="field">
                        <div class="label w_180">{{ form_label(form.password.second) }}</div>
                        <div class="inputdiv">{{ form_widget(form.password.second) }}</div>
                    </div>

                    {{ form_rest(form) }}

                </div>
            </div>

            <div class="clearfix">
                <input type="button" value="{% trans %}
                save{% endtrans %}" class="free" onclick="$('#save_data').click();">
                <input type="submit" id="save_data" class="hidden">
            </div>

        </form>


    </div><!-- midsec end -->

{% endblock %}
