{% extends "frontend/layout.html.twig" %}

{% block content %}
    <script type="text/javascript">
        function payment(str) {
            var form = $('#telepay');
            switch (str) {
                //payments
                    {% for payment in payments %}
                case {{ loop.index }}:
                    form.find('input[name="prc"]').val(btoa('{{ payment.amount }}'));
                    form.find('input[name="payPeriod"]').val('{{ payment.getPeriod() }}');
                    break;
                    {% endfor %}
            }
            form.submit();
        }

    </script>
    <style>
        #pp {
            display: none !important;
        }

        .subscriptions {
            text-align: center;
            clear: both;
            margin: 0 -1.5%;
        }

        .subscription {
            display: inline-block;
            width: 48%;
            background: #fff;
            padding: 10px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            box-shadow: #c5c5c4 4px 4px 4px;
            -moz-box-shadow: #c5c5c4 4px 4px 4px;
            -webkit-box-shadow: #c5c5c4 4px 4px 4px;
            margin: 0px .3% 35px;
        }

        .wrap-pay {
            padding: 10px;
            border: 1px #c5c5c4 dashed;
            -webkit-border: 1px #c5c5c4 dashed;
            -moz-border: 1px #c5c5c4 dashed;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
        }

        .subscription .chackbox {
            border: 2px #555658 solid;
            -webkit-border: 2px #555658 solid;
            -moz-border: 2px #555658 solid;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            margin: 0 auto;
            padding: 3px;
        }

        .subscription .chackbox > span {
            display: block;
            width: 100%;
            height: 100%;
            background: #cacaca;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
        }

        .subscription .chackbox.click > span {
            background: #f20022;
        }

        .subscription .title {
            color: #414147;
            font-size: 24px;
            font-weight: bold;
            line-height: 36px;
        }

        .subscription .price {
            font-size: 24px;
            font-weight: bold;
            color: #e5000f;
            margin-bottom: 20px;
        }

        .subscription .description {
            color: #434349;
            font-size: 17px;
            margin-bottom: 15px;
        }

        .subscription .month-price {
            background: #e5000f;
            color: #fff;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            width: 110px;
            height: 110px;
            margin: 0px auto;
            font-size: 20px;
            font-weight: bold;
            padding-top: 30px;
        }

        .subscription .month-price > span.dollar + span {
            font-size: 30px;
        }

        .subscription .month-price > span.month {
            display: block;
        }

        .table-subs {
            width: 94%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            box-shadow: #c5c5c4 4px 4px 4px;
            -moz-box-shadow: #c5c5c4 4px 4px 4px;
            -webkit-box-shadow: #c5c5c4 4px 4px 4px;
            background: #ffffff;
            margin: 0px auto;
            font-size: 16px;
        }

        .table-subs .header-table {
            padding: 15px 15px 10px;
            background: #e7e3dd;
            font-weight: bold;
            border-radius: 10px 10px 0px 0px;
            -webkit-border-radius: 10px 10px 0px 0px;
            -moz-border-radius: 10px 10px 0px 0px;
        }

        .table-subs .cell {
            display: inline-block;
            width: 70px;
            vertical-align: middle;
        }

        .table-subs .header-table .cell {
            text-align: center;
            font-weight: bold;
            vertical-align: bottom;
        }

        .table-subs .header-table > .cell:first-child, .table-subs .line > .cell:first-child {
            width: calc(100% - 150px);
            color: #616267;
        }

        .table-subs .header-table > .cell:first-child + .cell {
            color: #fe002c;
        }

        .table-subs .header-table > .cell:first-child + .cell + .cell {
            color: #4c4d53;
        }

        .table-subs .body {
            padding: 10px 15px 5px;
        }

        .line {
            padding: 7px 0px;
            border-top: 1px #cbcbcb dotted;
            -webkit-border-top: 1px #cbcbcb dotted;
            -moz-border-top: 1px #cbcbcb dotted;
            display: block;
        }

        .table-subs .body .line:first-child {
            border-top: none;
            -webkit-border-top: none;
            -moz-border-top: none;
        }

        .cell.check-red {
            height: 20px;
            background: url(https://www.nyrichdate.com/images/pay-red-v.png) no-repeat center;
        }

        .cell.check-grey {
            height: 20px;
            background: url(https://www.nyrichdate.com/images/pay-grey-v.png) no-repeat center;

        }

        .mid_title {
            margin: 0px auto 30px;
        }

        .text {
            margin-bottom: 25px;
            font-size: 16px;
        }


        @media all and (max-width: 767px) {

        }

        @media all and (max-width: 640px) {
            .subscription {
                width: 90%;
            }


            .table-subs .cell {
                width: 50px;
                font-size: 12px;
            }

            .table-subs .header-table > .cell:first-child, .table-subs .line > .cell:first-child {
                width: calc(100% - 110px);
                font-size: 14px;
            }
        }

    </style>
    <div class="midsec">

        {% if(banners) %}
            {% set i = random(banners|length -1) %}
            <a href="{{ banners[i].href }}" target="_blank">
                <img class="banner" src="{{ asset(banners[i].img) }}" style="margin: 0 auto;"
                     data-id="{{ banners[i].id }}"/>
            </a>
        {% endif %}


        <h1>{{ textBefore[0].title }}</h1>
        <form id="telepay" method="get" action="https://redirect.telepay.co.il" style="display: none;">
            <input type="hidden" name="formId" value="5265d2d0-cdc7-e911-b80c-ecebb8951f7e"/>
            <input type="hidden" name="userId" value="{{ app.user.id }}"/>
            <input type="hidden" name="payPeriod" value="-1"/>
            <input type="hidden" name="prc" value="NjQ="/>
        </form>
        {% if app.user.isPaying %}
            <div class="ui olive tiny message">{% trans %}Payment was successful{% endtrans %}</div>
            <div class="div4" style="padding: 0px;">
                <a href="{{ path('user_homepage') }}">{% trans %}Login{% endtrans %}</a>
            </div>
        {% else %}
            {% for textb in textBefore %}
                {% if textb.id != 1 %}
                    <div class="text">
                        {{ textb.text | raw }}
                    </div>
                {% endif %}
            {% endfor %}

            <div class="subscriptions">
                {% for payment in payments %}
                    <div class="subscription" onclick="payment({{ loop.index }});">
                        <div class="wrap-pay">
                            <div class="chackbox"><span></span></div>
                            <div class="title">{{ payment.title }}</div>
                            <div class="price">₪{{ payment.amount }}</div>
                            <div class="description">{{ payment.text|striptags }}</div>
                            <div class="month-price">
                                <span class="dollar">₪</span><span>{{ payment.price }}</span>
                                <span class="month">{{ payment.textPrice }}</span>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
            <div class="table-subs">
                <div class="header-table">
                    <div class="cell"></div>
                    <div class="cell">{% trans %}
                            Subscriber
                        {% endtrans %}
                    </div>
                    <div class="cell">
                        {% trans %}
                            Member
                        {% endtrans %}
                    </div>
                </div>
                <div class="body">

                    {% for textt in tableTexts %}
                        <div class="line">
                            <div class="cell">{{ textt.title }}</div>
                            <div class="cell{{ (textt.pay ? ' check-red' : '') }}"></div>
                            <div class="cell{{ (textt.notPay ? '  check-grey' : '') }}"></div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            {% for texta in textAfter %}
                <div class="text">
                    {{ texta.text|raw }}
                </div>
            {% endfor %}

        {% endif %}
    </div><!-- midsec end -->

{% endblock %}
