{% extends "frontend/layout.html.twig" %}

{% block content %}

    <div class="midsec">
        {% if not mobile %}
            <h1>{{ header }}</h1>

            <div class="filterby clearfix">

                {% if app.user %}

                    {% set filter = data is not defined ? 'lastActivity' : data.filter %}

                    {% if users|length > 0 %}
                        <div class="flytitle">
                            {% trans %}Filter by
                            {% endtrans %}
                        </div>
                        <div class="select">
                            <select id="searchFilter">
                                <option value="new"{% if filter == 'new' %} selected="selected"{% endif %}>
                                    {% trans %}New members
                                    {% endtrans %}
                                </option>
                                {% if data.withPhoto is not defined or not data.withPhoto %}
                                    <option value="photo" {% if filter == 'photo' %} selected="selected"{% endif %}>
                                        {% trans %}Profile with pic
                                        {% endtrans %}
                                    </option>
                                {% endif %}
                                <option value="lastActivity"{% if filter == 'lastActivity' %} selected="selected"{% endif %}>
                                    {% trans %}Last seen
                                    {% endtrans %}
                                </option>
                                <option value="popularity"{% if filter == 'popularity' %} selected="selected"{% endif %}>
                                    {% trans %}Popularity
                                    {% endtrans %}
                                </option>
                                <option value="verifiedUser"{% if filter == 'verifiedUser' %} selected="selected"{% endif %}>
                                    {% trans %}Verified users
                                    {% endtrans %}
                                </option>
                            </select>
                        </div>
                    {% else %}
                        {# <p> {{ noResults }}</p> #}
                    {% endif %}

                {% endif %}

                {# <input type="hidden" id="page" value="1"> #}

                <form action="{{ app.request.requesturi }}" method="post" id="search_filter_form">

                    {% if data is defined %}
                        {% for key,value in data %}
                            {% if data[key] is iterable %}
                                {% for key2,value2 in data[key] %}
                                    <input type="hidden" name="advancedSearch[{{ key }}][{{ key2 }}]"
                                           value="{{ value2 }}"/>
                                {% endfor %}
                            {% else %}
                                <input type="hidden" name="advancedSearch[{{ key }}]" value="{{ value }}"
                                       id="advancedSearch_{{ key }}"/>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <input type="hidden" name="advancedSearch[filter]" value="{{ filter }}"
                               id="advancedSearch_filter"/>
                    {% endif %}
                    <input type="submit" class="hidden">
                </form>
            </div>
        {% endif %}
        {% set template = app.user ? 'users_list' : 'users_public_list' %}

        {{ include ('frontend/user/' ~ template ~ '.html.twig', {'search': true}) }}

        <div class="pages usersResults">
            {% if data.filter != 'popularity' %}
            {% endif %}
        </div>

    </div><!-- midsec end -->
    <script>
        $(document).ready(function () {
            // alert(1)
            returnToResults('searchUserId', 'searchPage')
        });
    </script>

{% endblock %}
