{% extends "backend/layout.html.twig" %}

{% block content %}

    {{ include('backend/header.html.twig', { 'header': 'Content', 'icon': 'text file' }) }}

    <div class="page_content">

        {% if payment.id > 0 %}

        <a href="{{ path('admin_content') }}" class="link" style="margin-right: 30px;">
            page content
        </a>
            / subscriber page

        {% endif %}

         <div class="ui segment page">

            <h2 class="ui header right">
                <i class="write icon"></i>
                <div class="content">
                    {% set title = payment.id > 0 ? 'Edit part' : 'Add part' %}
                    {{ title }}
                </div>
            </h2>

            <div class="clear"></div>

            <form class="ui form" id="page_form" method="post" name="form">

                {% if type == 'TableTextPayment' or type == 'PaymentSubscription' %}
                    <div class="ui big ribbon label">{{ form_label(form.title) }}</div>
                    <div class="field">
                        {{ form_widget(form.title) }}
                    </div>
                {% endif %}
                {% if type == 'PaymentSubscription' %}
                    <div class="ui big ribbon label">{{ form_label(form.amount) }}</div>
                    <div class="field">
                        {{ form_widget(form.amount) }}
                    </div>
                {% endif %}
                {% if type != 'TableTextPayment' %}
                    <div class="ui big ribbon label">{{ form_label(form.text) }}</div>
                    <div class="field">
                        {{ form_widget(form.text) }}
                    </div>
                {% endif %}
                {% if type == 'TableTextPayment' %}
                    <div class="field">
                        <div class="ui big ribbon label">
                            {{ form_label(form.pay) }}
                        </div>
                        <div class="ui compact segment">
                            <div class="ui slider fitted checkbox">
                                {{ form_widget(form.pay) }}
                                <label></label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui big ribbon label">
                            {{ form_label(form.notPay) }}
                        </div>
                        <div class="ui compact segment">
                            <div class="ui slider fitted checkbox">
                                {{ form_widget(form.notPay) }}
                                <label></label>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if type == 'PaymentSubscription' %}
                    <div class="ui big ribbon label">{{ form_label(form.price) }}</div>
                    <div class="field">
                        {{ form_widget(form.price) }}
                    </div>
                    <div class="ui big ribbon label">{{ form_label(form.textPrice) }}</div>
                    <div class="field">
                        {{ form_widget(form.textPrice) }}
                    </div>
                {% endif %}


                <br>

                <h3 class="ui horizontal divider header">
                    <i class="settings orange icon"></i>
                    Settings
                </h3>

                <div class="field">
                    <div class="ui big ribbon label">
                        {{ form_label(form.isActive) }}
                    </div>
                    <div class="ui compact segment">
                        <div class="ui slider fitted checkbox">
                            {{ form_widget(form.isActive) }}
                            <label></label>
                        </div>
                    </div>
                </div>
                <div class="ui big ribbon label">{{ form_label(form.order) }}</div>
                <div class="field">
                    {{ form_widget(form.order) }}
                </div>
                <br>
                <br>

                <div class="ui one column centered grid">
                    <button class="ui labeled icon orange approve big button right">
                        <i class="save icon"></i>
                        save
                    </button>
                </div>

                {{ form_rest(form) }}

            </form>

            <br>
            <br>

            <div class="clear"></div>
        </div>

    </div>


    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" type="text/javascript"></script>
    <script>

            tinymce.init({

                selector: 'textarea[name="form[text]"]',

                theme: "modern",

                menubar: false,

                plugins: [

                    "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",

                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",

                    "save table contextmenu directionality emoticons template paste textcolor"

                ],

                //content_css: "css/content.css",

                toolbar: "insertfile undo redo | bold italic underline | styleselect | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | preview media fullpage | forecolor backcolor emoticons | link image | code | ltr rtl",

                style_formats: [

                    {
                        title: "Headers", items: [

                            {title: "Header 3", format: "h3"},

                            {title: "Header 4", format: "h4"},

                            {title: "Header 5", format: "h5"},

                            {title: "Header 6", format: "h6"}

                        ]
                    },

                    {
                        title: "Inline", items: [

                            {title: "Bold", icon: "bold", format: "bold"},

                            {title: "Italic", icon: "italic", format: "italic"},

                            {title: "Underline", icon: "underline", format: "underline"},

                            {title: "Strikethrough", icon: "strikethrough", format: "strikethrough"},

                            {title: "Superscript", icon: "superscript", format: "superscript"},

                            {title: "Subscript", icon: "subscript", format: "subscript"},

                        ]
                    },

                    {
                        title: "Alignment", items: [

                            {title: "Left", icon: "alignleft", format: "alignleft"},

                            {title: "Center", icon: "aligncenter", format: "aligncenter"},

                            {title: "Right", icon: "alignright", format: "alignright"},

                            {title: "Justify", icon: "alignjustify", format: "alignjustify"}

                        ]
                    }

                ],

                cleanup: false,

                verify_html: false,

            });



    </script>


{% endblock %}
