<h1 class="ui grey header right">
    <i class="edit icon"></i>
    <div class="content">
        <span class="username">{{ user.username }}</span>
        <div class="sub header">Edit profile</div>
    </div>
</h1>


<div class="left close">
    <i class="icon remove circle olive big " onclick="$.kfModal.close();"></i>
</div>

<div class="clear"></div>

<div class="ui divider"></div>

<div class="ui secondary menu">
    <a class="item {% if tab == 1 %}active{% endif %}" data-tab="1">
        {# <i class="sign in icon circular"></i> #}
        details
    </a>
    <a class="item {% if tab == 2 %}active{% endif %}" data-tab="2">
        {# <i class="user icon circular"></i> #}
        profile
    </a>
    <a class="item {% if tab == 3 %}active{% endif %}" data-tab="3">
        {# <i class="info icon circular"></i> #}
        about me
    </a>
    <a class="item {% if tab == 4 %}active{% endif %}" data-tab="4">
        {# <i class="info icon circular"></i> #}
        admin
    </a>
    <a class="item {% if tab == 5 %}active{% endif %}" data-tab="5">
        {# <i class="info icon circular"></i> #}
        change password
    </a>
</div>
<div class="ui tab segment {% if tab == 1 %}active{% endif %}" data-tab="1">

    {% set form = (edited_form != null and tab == 1) ? edited_form : form_1 %}

    {% if form.username.vars.errors|length or form.email.vars.errors|length %}
        <div class="errors">
            <div class="ui red message">
                <div class="content">
                    <div class="header">
                        please fill the following fields
                    </div>
                    <p>
                        {{ form_errors(form.username) }}
                        {{ form_errors(form.email) }}
                        {{ form_errors(form) }}
                    </p>
                </div>
            </div>
        </div>
    {% endif %}


    <form id="form_1" onsubmit="return false;">

        <div class="ui form">

            <div class="ui large horizontal label {% if form.username.vars.errors|length %}red{% else %}grey{% endif %}">{{ form_label(form.username) }}</div>
            <div class="field {% if form.username.vars.errors|length %}error{% endif %}">
                {{ form_widget(form.username) }}
            </div>

            <div class="ui large horizontal label {% if form.email.vars.errors|length %}red{% else %}grey{% endif %}">{{ form_label(form.email) }}</div>
            <div class="field {% if form.email.vars.errors|length %}error{% endif %}">
                {{ form_widget(form.email) }}
            </div>

            {# <div class="field"> #}
            {# <div class="ui grey large horizontal label">{{ form_label(form.email.second) }}</div> #}
            {# {{ form_widget(form.email.second) }} #}
            {# </div> #}

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.phone) }}</div>
                {{ form_widget(form.phone) }}
            </div>

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.gender) }}</div>
                {{ form_widget(form.gender) }}
            </div>

            {#
            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.lookingGender) }}</div>
                {{ form_widget(form.lookingGender) }}
            </div>
            #}

            <div class="field birthday">
                <div class="ui grey large horizontal label">{{ form_label(form.birthday) }}</div>
                <div class="clear"></div>
                <div class="right">{{ form_widget(form.birthday.year) }}</div>
                <div class="right">{{ form_widget(form.birthday.month) }}</div>
                <div class="right">{{ form_widget(form.birthday.day) }}</div>
            </div>

            <div class="clear"></div>

            <button class="ui labeled icon green large button left"
                    onclick="saveProfile({{ user.id }}, $('#form_1'), 1);">
                <i class="save icon"></i>
                Save
            </button>

            <div class="clear"></div>

            {{ form_rest(form) }}

        </div>

    </form>

</div>
<div class="ui tab segment {% if tab == 2 %}active{% endif %}" data-tab="2">

    {% set form = (edited_form != null and tab == 2) ? edited_form : form_2 %}

    {# {% if form.purposes.vars.errors|length %} #}
    {# <div class="errors"> #}
    {# <div class="ui red message"> #}
    {# <div class="content"> #}
    {# <div class="header"> #}
    {# יש להשלים את השדות הבאים #}
    {# </div> #}
    {# <p> #}
    {# {{ form_errors(form.purposes) }} #}
    {# </p> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# {% endif %} #}


    <form id="form_2" onsubmit="return false;">

        <div class="ui form">

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.country) }}</div>
                {{ form_widget(form.country) }}
            </div>

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.region) }}</div>
                {{ form_widget(form.region) }}
            </div>

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.city) }}</div>
                {{ form_widget(form.city) }}
            </div>

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.zipCode) }}</div>
                {{ form_widget(form.zipCode) }}
            </div>

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.relationshipStatus) }}</div>
                {{ form_widget(form.relationshipStatus) }}
            </div>

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.sexOrientation) }}</div>
                {{ form_widget(form.sexOrientation) }}
            </div>

{#            <div class="field">#}
{#                <div class="ui grey large horizontal label">{{ form_label(form.sexOrientationDetails) }}</div>#}
{#                {{ form_widget(form.sexOrientationDetails) }}#}
{#            </div>#}

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.height) }}</div>
                {{ form_widget(form.height) }}
            </div>

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.body) }}</div>
                {{ form_widget(form.body) }}
            </div>

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.relationshipType) }}</div>
                {{ form_widget(form.relationshipType) }}
            </div>

{#            <div class="field">#}
{#                <div class="ui grey large horizontal label">{{ form_label(form.relationshipTypeDetails) }}</div>#}
{#                {{ form_widget(form.relationshipTypeDetails) }}#}
{#            </div>#}

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.lookingFor) }}</div>
                {{ form_widget(form.lookingFor) }}
            </div>

{#            <div class="field">#}
{#                <div class="ui grey large horizontal label">{{ form_label(form.lookingForDetails) }}</div>#}
{#                {{ form_widget(form.lookingForDetails) }}#}
{#            </div>#}

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.origin) }}</div>
                {{ form_widget(form.origin) }}
            </div>

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.smoking) }}</div>
                {{ form_widget(form.smoking) }}
            </div>


            <div class="block">

                {# {% for purpose in form.purposes %} #}

                {# <div class="ui checkbox four"> #}
                {# {{ form_widget(purpose) }} #}
                {# {{ form_label(purpose) }} #}
                {# </div> #}

                {# {% endfor %} #}

            </div>


            <button class="ui labeled icon green large button left"
                    onclick="saveProfile({{ user.id }}, $('#form_2'), 2);">
                <i class="save icon"></i>
                save
            </button>

            <div class="clear"></div>

            {{ form_rest(form) }}

        </div>

    </form>


</div>
<div class="ui tab segment {% if tab == 3 %}active{% endif %}" data-tab="3">

    {% set form = (edited_form != null and tab == 3) ? edited_form : form_3 %}


    <form id="form_3" onsubmit="return false;">

        {% if form.about.vars.errors|length
            or form.looking.vars.errors|length %}
            <div class="errors">
                <div class="ui red message">
                    <div class="content">
                        <div class="header">
                            Please fill the following fields
                        </div>
                        <p>
                            {{ form_errors(form.about) }}
                            {# {{ form_errors(form.looking) }} #}
                            {# {{ form_errors(form.veggieReasons) }} #}
                            {# {{ form_errors(form.interests) }} #}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="ui form">

            <div class="ui large horizontal label {% if form.about.vars.errors|length %}red{% else %}grey{% endif %}">{{ form_label(form.about) }}</div>
            <div class="field {% if form.about.vars.errors|length %}error{% endif %}">
                {{ form_widget(form.about) }}
            </div>

            <div class="ui large horizontal label {% if form.looking.vars.errors|length %}red{% else %}grey{% endif %}">{{ form_label(form.looking) }}</div>
            <div class="field {% if form.about.vars.errors|length %}error{% endif %}">
                {{ form_widget(form.looking) }}
            </div>

            {# <div class="ui large horizontal label {% if form.looking.vars.errors|length %}red{% else %}grey{% endif %}">{{ form_label(form.looking) }}</div> #}
            {# <div class="field {% if form.looking.vars.errors|length %}error{% endif %}"> #}
            {# {{ form_widget(form.looking) }} #}
            {# </div> #}


            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.contactGender) }}</div>
                {{ form_widget(form.contactGender) }}
            </div>

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.ageFrom) }}</div>
                {{ form_widget(form.ageFrom) }}
            </div>

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.ageTo) }}</div>
                {{ form_widget(form.ageTo) }}
            </div>

            <h3 class="ui horizontal divider header">
                <i class="unhide circular icon"></i>
                appearance </h3>

            <h3 class="ui horizontal divider header">
                <i class="heart circular icon"></i>
                more about me </h3>

            <button class="ui labeled icon green large button left"
                    onclick="saveProfile({{ user.id }}, $('#form_3'), 3);">
                <i class="save icon"></i>
                save
            </button>

            <div class="clear"></div>

            {{ form_rest(form) }}

        </div>

    </form>

</div>


<div class="ui tab segment {% if tab == 4 %}active{% endif %}" data-tab="4">

    {% set form = (edited_form != null and tab == 4) ? edited_form : form_4 %}


    <form id="form_4" onsubmit="return false;">

        <div class="ui form">
            {{ form_start(form) }}
            <div class="field">
                <div class="ui grey large horizontal label">
                    {{ form_label(form.isOnHomepage) }}
                </div>
                <div class="ui compact segment">
                    <div class="ui slider fitted checkbox">
                        {{ form_widget(form.isOnHomepage) }}
                        <label></label>
                    </div>
                </div>
            </div>

            <h4 class="ui horizontal divider header">
                <i class="setting grey icon"></i>
            </h4>

            <br>


            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.adminComments) }}</div>
                {{ form_widget(form.adminComments) }}
            </div>

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.banReason) }}</div>
                {{ form_widget(form.banReason) }}
            </div>

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.freezeReason) }}</div>
                {{ form_widget(form.freezeReason) }}
            </div>


            <button class="ui labeled icon green large button left"
                    onclick="saveProfile({{ user.id }}, $('#form_4'), 4);">
                <i class="save icon"></i>
                לשמור
            </button>

            <div class="clear"></div>

            {{ form_rest(form) }}

        </div>


    </form>

</div>


{# <div class="ui tab segment {% if tab == 5 %}active{% endif %}" data-tab="5"> #}

{# {% set form = (edited_form != null and tab == 5) ? edited_form : form_5 %} #}

{# <form id="form_5" onsubmit="return false;"> #}

{# <div class="ui form"> #}
{# {{ form_start(form) }} #}
{# <div class="field"> #}

{# </div> #}
{# {{ form_rest }} #}
{# </div> #}
{# </form> #}

{# </div> #}

<div class="ui tab segment {% if tab == 5 %}active{% endif %}" data-tab="5">

    {% set form = (edited_form != null and tab == 5) ? edited_form : form_5 %}

    <form id="form_5" onsubmit="return false;">

        {# <button class="ui labeled icon green large button right" onclick="saveProfile({{ user.id }}, $('#form_5'), 5);"> #}
        {# <i class="save icon"></i> #}
        {# Save #}
        {# </button> #}

        <div class="clear"></div>

        {% if errors %}
            <div class="errors">
                <div class="ui red message">
                    <div class="content">
                        <div class="header">
                            Please complete the fields below
                        </div>
                        <p>
                            {{ form_errors(form.password.first) }}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="ui form">

            <div class="field">
                <div class="ui {% if form.password.first.vars.errors|length %}red{% else %}grey{% endif %} large horizontal label">{{ form_label(form.password.first) }}</div>
                {{ form_widget(form.password.first) }}
            </div>

            <div class="field">
                <div class="ui grey large horizontal label">{{ form_label(form.password.second) }}</div>
                {{ form_widget(form.password.second) }}
            </div>

            <button class="ui labeled icon green large button right"
                    onclick="saveProfile({{ user.id }}, $('#form_5'), 5);">
                <i class="save icon"></i>
                Save
            </button>

            <div class="clear"></div>

            {{ form_rest(form) }}

        </div>
    </form>
</div>


